{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - FuelStat
    {% else %}
        FuelStat
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-dark" style="background-color: dodgerblue;">
        <a class="navbar-brand " href="{{ url_for('index') }}">FuelStat</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Sing Out</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}