{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - FuelStat
    {% else %}
        FuelStat
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default;">
        <div class="container">

            <a class="navbar-brand " href="{{ url_for('index') }}">FuelStat</a>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Sign In</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Sing Out</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}