<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% if title %}
                FuelStat - {{ title }}
            {% else %}
                FuelStat
            {% endif %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <div class="logo">
                        <a href="{{ url_for('index') }}">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" width="120" height="80">
                            FuelStat
                        </a>
                    </div>

                    <nav class="menu">
                        <ul class="menu_list">
                            {% if current_user.is_authenticated %}
                                <li>
                                    <a class="logout_button" href="{{ url_for('logout') }}">SIGN OUT</a>
                                </li>
                            {% endif %}
                        </ul> 
                    </nav>
                </div>
            </div>
        </header>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="container_alert">
                        <p class="alert_text">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    </body>
</html>