{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}
        <table id="main-table">
            <tr>
                <td>
                    {% include "navigation.html" %}
                    {% include "fuel.html" %}
                </td>
                <td>
                    {% include "workspace.html" %}
                </td>
                <td>
                    {% include "report.html" %}
                </td>
            </tr>       
        </table>
{% endblock %}