{% extends "base.html" %}

{% block content %}

        <div class="d-flex flex-row justify-content-center align-items-stretch">

            <div class="d-flex flex-column">
                
                {%include "navigation.html" %}

                {% block tools %}
                    <div class="container index tools">
                        <h1>Some Tools</h1>
                    </div>
                {% endblock %}
            </div>

            {%include "workspace.html" %}

            {%include "report.html" %}           
        </div>
{% endblock %}