{% extends "base.html" %}

{% block content %}
    <div class="login_container">
        <p class="login_header">Sign In</p>
        <div class="login_inner">
            <form class="login_form" action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form_item">
                    <p class="form_label login">{{ form.username.label }}</p>
                    {{ form.username(size=16, class="form login") }}
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form_item">
                    <p class="form_label login">{{ form.password.label }}</p>
                    {{ form.password(size=16, class="form login") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form_container checkbox">
                    <p class="form_label" style="display: inline;">
                            {{ form.remember.label }}
                    </p>
                    {{ form.remember(class="form checkbox remember") }}
                </div>
                <div>
                    {{ form.submit(class="button") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}