<div class="index_container navigation">
        <p class="navig_header">Navigation</p>
        {{ navig_form.table_name(class="navig_form_table_name", style="display: none") }}
        <div class="navig_form_container">
                <p class="navig_form_label" style="margin-bottom: 10px;">Table</p>
                <a class="navig_button trans" style="display: inline;" onclick="changeTable('trans')">
                        Transactions
                </a>
                <a class="navig_button fuel" style="display: inline;" onclick="changeTable('fuel')">
                        Fuel
                </a>
        </div>
        <form action="" method="POST">
                {{ navig_form.hidden_tag() }}
                <div class="navig_form_container">
                        <p class="navig_form_label start">
                                Start Date
                        </p>
                        {{ navig_form.start_value(size=10, class="navig_form start") }}
                </div>
                <div class="navig_form_container">
                        <p class="navig_form_label end">
                                End Date
                        </p>
                        {{ navig_form.end_value(size=10, class="navig_form end") }}
                </div>
                <div class="navig_form_container">
                        <p class="navig_form_label names">
                                {{ navig_form.names.label }}
                        </p>
                        {{ navig_form.names(class="navig_form names") }}
                </div>
                {{ navig_form.allow(class="navig_form_button") }}
        </form>                
</div>