<div class="index_container navigation">
        <p class="header">Navigation</p>
        <div class="form_container">
                <p class="form_label" style="margin-bottom: 10px;">Table</p>
                <a class="button trans" style="display: inline;" onclick="changeTable('trans')">
                        Transactions
                </a>
                <a class="button fuel" style="display: inline;" onclick="changeTable('fuel')">
                        Fuel
                </a>
        </div>
        <div class="navig_inner trans">
                <form action="" method="POST">
                        {{ navig_trans_form.hidden_tag() }}
                        <div class="form_container">
                                <p class="form_label">
                                        {{ navig_trans_form.start_date_trans_navigation.label }}
                                </p>
                                {{ navig_trans_form.start_date_trans_navigation(size=10, class="form start_date") }}
                        </div>
                        <div class="form_container">
                                <p class="form_label">
                                        {{ navig_trans_form.end_date_trans_navigation.label }}
                                </p>
                                {{ navig_trans_form.end_date_trans_navigation(size=10, class="form end_date") }}
                        </div>
                        <div class="form_container">
                                <p class="form_label">
                                        {{ navig_trans_form.start_odometer_trans_navigation.label }}
                                </p>
                                {{ navig_trans_form.start_odometer_trans_navigation(size=10, class="form start_odometer") }}
                        </div>
                        <div class="form_container">
                                <p class="form_label">
                                        {{ navig_trans_form.end_odometer_trans_navigation.label }}
                                </p>
                                {{ navig_trans_form.end_odometer_trans_navigation(size=10, class="form end_odometer") }}
                        </div>
                        <div class="form_container">
                                <p class="form_label">
                                        {{ navig_trans_form.names_trans_navigation.label }}
                                </p>
                                {{ navig_trans_form.names_trans_navigation(class="form names") }}
                        </div>
                        {{ navig_trans_form.allow_trans_navigation(class="button navig") }}
                </form>
        </div>
        <div class="navig_inner fuel" style="display: none;">
                <form action=""  method="POST">
                        {{ navig_fuel_form.hidden_tag() }}
                        <div class="form_container">
                                <p class="form_label">
                                        {{ navig_fuel_form.start_price_fuel_navigation.label }}
                                </p>
                                {{ navig_fuel_form.start_price_fuel_navigation(size=10, class="form start_price") }}
                        </div>
                        <div class="form_container">
                                <p class="form_label">
                                        {{ navig_fuel_form.end_price_fuel_navigation.label }}
                                </p>
                                {{ navig_fuel_form.end_price_fuel_navigation(size=10, class="form end_price") }}
                        </div>
                        {{ navig_fuel_form.allow_fuel_navigation(class="button navig") }}
                </form>
        </div>          
</div>