{% extends "base.html" %}

{% block content %}
    <div class="container upload">
        <div class="upload_container fuel">
            <p class="header">
                Fuel Stations
            </p>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ upload_fuel_form.hidden_tag() }}
                <div class="form_container">
                    {% for error in upload_fuel_form.file_fuel.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    <p class="form_label upload">
                        {{ upload_fuel_form.file_fuel.label}}
                    </p>
                    {{ upload_fuel_form.file_fuel(class="form file") }}
                </div>
                <div class="form_container">
                    <p class="form_label upload">
                        {{ upload_fuel_form.method_fuel.label }}
                    </p>
                    {{ upload_fuel_form.method_fuel(class="select upload") }}
                </div>
                {{ upload_fuel_form.upload_fuel(class="button upload") }}
            </form>
            <div class="block guide">
                <p class="header guide">!!!IMPORTANT!!!</span>
                <p class="label guide">
                    File must be in csv format. <br>
                    File must contains: <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;gas station name, gallon price <br>
                    <br>
                    Example 'fuel.csv': <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Shell, 60.1 <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;America, 59
                </p>
            </div>
        </div>

        <div class="upload_container trans">
            <p class="header">
                Transactions
            </p>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ upload_trans_form.hidden_tag() }}
                <div class="form_container">
                    {% for error in upload_trans_form.file_trans.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    <p class="form_label upload">
                        {{ upload_trans_form.file_trans.label}}
                    </p>
                    {{ upload_trans_form.file_trans(class="form file") }}
                </div>
                <div class="form_container">
                    <p class="form_label upload">
                        {{ upload_trans_form.method_trans.label }}
                    </p>
                    {{ upload_trans_form.method_trans(class="select upload") }}
                </div>
                {{ upload_trans_form.upload_trans(class="button upload") }}
            </form>
            <div class="block guide">
                <p class="header guide">!!!IMPORTANT!!!</span>
                <p class="label guide">
                    File must be in csv format. <br>
                    File must contains: <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;date, odometer value,
                    gas station name, gallon count <br>
                    <br>
                    Example 'trans.csv': <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;2000-01-01, 3000, Shell, 6.3<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;2000-01-03, 3121, America, 12<br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}