<div class="index_container workspace">
    <table class="table_workspace">
        <thead>
            <tr>
                <th>DATE</th>
                <th>ODOMETER</th>
                <th>STATION ID</th>
                <th>GALLONS COUNT</th>
                <th></th>
            </tr>
        </thead>    
        <tbody>
            {% for row in trans_data %}
                <tr class="work_table_row num_{{ row[0] }}">
                    <form action="{{ url_for('index') }}" method="POST">
                        {{ row_form.hidden_tag() }}
                        <td class="form_col">{{ row_form.id(class="id") }}</td>
                        <td class="form_col">{{ row_form.date(size=10, class="date") }}</td>
                        <td class="form_col">{{ row_form.odometer(size=7, class="odometer") }}</td>
                        <td class="form_col">{{ row_form.fuel_station(class="station") }}</td>
                        <td class="form_col">{{ row_form.gallon_count(size=5, class="gallons") }}</td>
                        <td class="form_col" style="text-align: end;">
                            {{ row_form.save(class="save_button", onclick="saveRow()")}}
                        </td>
                    </form>
                    {% for i in range(1, row|length) %}
                        {% if i == 1 %}
                            <td class="table_col" style="display: none;">{{ row[i] }}</td>
                        {% else %}
                            <td class="table_col">{{ row[i] }}</td>
                        {% endif %}
                    {% endfor %}
                        <td class="table_col" style="text-align: end;">
                            <a class="edit_button" onclick="editRow('{{ row[0] }}')">
                                <img src="{{ url_for('static', filename='images/draw.png') }}" alt="">
                            </a>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>