<div class="index_container navigation">
        <p class="header">Navigation</p>
        <div class="form_container">
                <p class="form_label" style="margin-bottom: 10px;">Table</p>
                <a class="button trans" style="display: inline;" onclick="changeTable('trans')">
                        Transactions
                </a>
                <a class="button fuel" style="display: inline;" onclick="changeTable('fuel')">
                        Fuel
                </a>
        </div>
        <div class="navig_inner trans">
                <form action="" method="POST">
                        {% for field in navig_trans_form %}
                                {% if field() == navig_trans_form.hidden_tag() %}
                                        {{ field() }}
                                {% elif field() == navig_trans_form.allow_trans_navigation() %}
                                        {{ field(size=10, class="button " + (field.name|string)|replace("_trans_navigation", "")) }}
                                {% else %}
                                <div class="form_container">
                                        <p class="form_label">
                                                {{ field.label }}
                                        </p>
                                        {{ field(size=10, class="form " + (field.name|string)|replace("_trans_navigation", "")) }}
                                        {% for error in field.errors %}
                                                <p style="color: red;">{{ error }}</p>
                                        {% endfor %}
                                </div>
                                {% endif%}
                        {% endfor %}
                </form>
        </div>
        <div class="navig_inner fuel" style="display: none;">
                <form action=""  method="POST">
                        {% for field in navig_fuel_form %}
                                {% if field() == navig_fuel_form.hidden_tag() %}
                                        {{ field() }}
                                {% elif field() == navig_fuel_form.allow_fuel_navigation() %}
                                        {{ field(size=10, class="form " + (field.name|string)|replace("_fuel_navigation", "")) }}
                                {% else %}
                                <div class="form_container">
                                        <p class="form_label">
                                                {{ field.label }}
                                        </p>
                                        {{ field(size=10, class="form " + (field.name|string)|replace("_fuel_navigation", "")) }}
                                        {% for error in field.errors %}
                                                <p style="color: red;">{{ error }}</p>
                                        {% endfor %}
                                </div>
                                {% endif%}
                        {% endfor %}
                </form>
        </div>          
</div>