<div class="index_container report">
    <h1 class="header">Report</h1>
    <div class="report_inner">
        <form action="" method="POST">
            {% for field in report_form %}
                {% if field() == report_form.hidden_tag() %}
                    {{ field() }}
                {% elif field() == report_form.get_report() %}
                    {{ field(size=10, class="button " + (field.name|string)|replace("_report", "")) }}
                {% else %}
                <div class="form_container">
                    {% if field() == report_form.show_statistic_report() or field() == report_form.show_table_report() %}
                        <p class="form_label" style="display: inline;">
                            {{ field.label }}
                        </p>
                        {{ field(size=10, class="form checkbox " + (field.name|string)|replace("_report", "")) }}
                    {% else %}
                        <p class="form_label">
                            {{ field.label }}
                        </p>
                        {{ field(size=10, class="form " + (field.name|string)|replace("_report", "")) }}
                        {% for error in field.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>
</div>