body, html {
    padding: 0px;
    margin: 0px;
    background-color: #2b2b73;
    font-family: Arial;
    height: 100%;
}

.container {
    background-color: #d4d8e9;
    border-radius: 10px;
}

/* NAVBAR */
.navbar {
    margin-top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.brand {
    vertical-align: middle;
    display: inline;
    text-align: center;
    color: white;
    text-decoration: none;
}
.navbar-button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* LOGIN PAGE */
.container.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 10px 30px;
}


/* INDEX PAGE */
.container.index {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}


/* NAVIGATION */
.container.navigation {
    width: 200px;
    min-height: 420px;
    padding: 5px;
    margin: 5px;
}


/* FUEL */
.container.fuel {
    width: 200px;
    height: 100%;
    min-height: 100px;
    padding: 5px;
    margin: 5px;
}


/* REPORT */
.container.index.report {
    width: 250px;
}


/* WORKSPACE */
.table.workspace thead th {
    background-color:  #d4d8e9;
    position: sticky;
    top: 0;
}