* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #2b2b73;
}

.container {
    padding: 0px 10px;
}


/* BASE */
.header_inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo a{
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.menu_list {
    display: flex;
}
.menu_list a {
    font-weight: 600;
    font-size: 20px;
    color: white;
}


/* INDEX */
.index_container {
    background-color: #d4d8e9;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
}
.index_inner {
    display: flex;
    align-items: top;
}



/* NAVIGATION, FUEL*/
.index_container.navigation,
.index_container.fuel {
    width: 250px;
}

/* REPORT */
.index_container.report {
    width: 250px;
}

/* WORKSPACE */
.index_container.workspace{
    flex: 1;
}

