* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

html {
    font-family: 'Open Sans';
}

body {
    background-color: #2b2b73;
}

.container {
    margin: 10px 0px;
    padding: 0px 10px;
}

.button {
    padding: 4px 6px;
    border-radius: 6px;
    border: 2px solid #2b2b73;
    background-color: #c7c7ea;
    transition-duration: 0.4s;
}
.button:hover {
    color: white;
    background-color: #2b2b73;
}
.button:active {
    border-color: #66ff66;
}

.header {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #808080;
}

.form_container {
    margin-bottom: 20px;
}

.form_label {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 5px;
}

.form {
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #808080;
    padding: 4px 5px;
    transition-duration: 0.2s;
}
.form:focus {
    border-color: #9999ff;
}

.form.checkbox {
    margin-left: 5px;
    margin-bottom: 5px;
    display: inline;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #eee;
    transition-duration: 0.4s;
}
.form.checkbox:hover {
    background-color: #ccc;
}
.form.checkbox:checked {
    background-color: #2196F3;
}

.form.names {
    font-size: 20px;
    width: 150px;
    height: 100px;
    background-color: #d4d8e9;
    border: 2px solid #808080;
    padding: 5px;
}

.form_container.checkbox {
    display: flex;
    align-items: center;
}
.select {
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid gray;
    padding: 2px 5px;
    background-color: #ced1e4;
}
.select:after {
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    background-color: #ced1e4;
    cursor: pointer;
}
.select:focus{
    border: 2px solid #9999ff;
}


/* BASE */
.header_inner {
    min-width: 650px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo a{
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.menu_list {
    display: flex;
}
.menu_list a {
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.button.navbar {
    font-size: 20px;
    margin: 0px 10px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #4646b9;
}
.button.navbar:hover {
    background-color: #313181;
}
.container_alert {
    background-color: rgba(112, 219, 112, 50%);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border:2px solid #70db70;
}
.alert_text {
    color: black;
    font-weight: 400;
    font-size: 25px;
}


/* INDEX */
.index_container {
    background-color: #d4d8e9;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
}
.index_inner {
    display: flex;
    align-items: stretch;
}
.index_left_inner {
    display: flex;
    flex-direction: column;
}



/* NAVIGATION*/
.index_container.navigation {
    min-width: 100px;
    width: 250px;
    height: 480px;
    min-height: 500px;
    flex-grow: 1;
}
.button.trans {
    margin-right: 15px;
}
.button.trans, .button.fuel {
    padding: 1px 5px;
}



/* ERRORS */
.index_container.errors {
    padding: 12px;
    min-width: 200px;
    max-width: 250px;
    max-height: 150px;
    flex-grow: 1;
}
.error_inner {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: #b3b3b3;
    border-radius: 5px;
    padding: 5px;
}
.error {
    color: red;
}



/* REPORT */
.index_container.report {
    width: 250px;
}
.header.error {
    font-size: 18px;
    margin-bottom: 5px;
}
.label.error {
    color: indianred;
}



/* WORKSPACE */
.index_container.workspace{
    flex: 1;
    min-height: 800px;
    height: 800px;
}
.table_workspace {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    min-width: 600px;
}
.table_workspace.fuel {
    display: none;
}
.table_workspace thead {
    flex: 1 1 auto;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 3px solid #808080;
}
.table_workspace th {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
}
.table_workspace tbody {
    flex: 1 1 auto;
    display: block;
    overflow: auto;
}
.table_workspace tbody tr:hover {
    background-color: #bcc2dc;
}
.table_workspace tbody tr {
    border-bottom: 1px solid #808080;
    width: 100%;
    display: table;
    table-layout: fixed;
}
.table_workspace td {
    padding: 10px 0px;
}
.work_table_row .form_col {
    display: none;
}
.work_table_row.new {
    margin-top: 5px;
}
.form_col input {
    font-size: 18px;
    background-color: #d4d8e9;
    border: 2px solid #808080;
    padding: 3px;
    margin: 0px;
    border-radius: 5px;
}
.button.edit {
    padding: 1px 5px 3px 5px;
    margin-right: 10px;
    margin-left: 5px;
}
.button.new {
    font-size: 15px;
    padding: 0px 5px;
}



/* UPLOAD */
.container.upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100px;
}
.upload_container {
    width: 700px;
    background-color: #d4d8e9;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 2% 2%;
    display: inline-block;
}
.header {
    font-size: 30px;
}
.select.upload {
    font-size: 20px;
    min-width: 100px
}
.form_label.upload {
    font-size: 25px;
    min-width: 100px;
}
.button.upload {
    font-size: 18px;
    margin-top: 20px;
}
.form.file {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #abb1d3;
    padding: 10px;
    height: 200px;
    font-size: 20px;
}
.block.guide {
    width: 500px;
    margin: 20px auto;
    border-radius: 5px;
    border: 2px solid #9999ff;
    padding: 20px;
    align-items: center;
}
.label.guide {
    width: 400px;
    font-size: 20px;
}
.header.guide {
    font-size: 22px;
    margin: 5px auto;
    color: red;
}


/* LOGIN */
.login_container {
    border-radius: 15px;
    background-color: #d4d8e9;
    width: 450px;
    margin: 60px auto 0px auto;
    padding: 15px;
    height: 400px;
}
.login_header {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}
.login_inner {
    display: flex;
    justify-content: center;
}
.form_item {
    text-align: center;
    margin: 30px 0px;
}
.form_label.login {
    font-size: 25px;
}
.form.login {
    font-size: 20px;
}