body {
    padding: 0px;
    margin: 0px;
    background-color: #2b2b73;
    font-family: Arial, Helvetica, sans-serif
}

.container-fluid {
    margin: 0px;
    padding: 5px;
}

/* NAVBAR */
.navbar {
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-brand {
    font-size: 40px;
}

.dropdown-menu {
    padding: 5px;
    background-color: #d4d8e9;
}
.dropdown-item {
    margin: 0px;
    padding: 5px;
}
.dropdown-item:hover {
    background-color: #b3b6c5;
}
.dropdown-toggle, .dropdown-toggle:hover {
    color: white;
}



/* LOGIN PAGE */
.container.login {
    background-color: #d4d8e9;
    width: 500px;
    padding: 10px 30px;
    border-radius: 20px;
}


/* INDEX PAGE*/
.container.index {
    padding: 5px;
    margin: 10px;
    background-color: #d4d8e9;
}

.container.index.func {
    width: 250px;
}

.container.index.tools {
    width: 250px;
    height: 250px;
}

