body, html {
    padding: 0px;
    margin: 0px;
    background-color: #2b2b73;
    font-family: Arial;
    height: 100%;
}

/* NAVBAR */
.navbar {
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-brand {
    font-size: 40px;
}

.dropdown-menu {
    padding: 5px;
    background-color: #d4d8e9;
}
.dropdown-item {
    margin: 0px;
    padding: 5px;
}
.dropdown-item:hover {
    background-color: #b3b6c5;
}
.dropdown-toggle, .dropdown-toggle:hover {
    color: white;
}



/* LOGIN PAGE */
.container.login {
    background-color: #d4d8e9;
    width: 500px;
    padding: 10px 30px;
    border-radius: 20px;
}


/* INDEX PAGE*/
.d-flex.flex-row {
    height: 89%;
}

.container.index {
    padding: 5px;
    margin: 10px;
    background-color: #d4d8e9;
}

.container-fluid.index {
    padding: 5px;
    margin: 10px;
    background-color: #d4d8e9;
}

.container.index.func {
    height: 100%;
    width: 250px;
}

.container.index.tools {
    width: 250px;
    height: 250px;
}

.container.index.report {
    width: 250px;
}

